<launch>

  <let name="model" default="$(find-pkg-share rfl_description)/urdf/rfl.urdf"/>
  <let name="gui" default="true" />
  <let name="rvizconfig" default="$(find-pkg-share rfl_description)/rviz/urdf.rviz" />


  <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher" >
    <param name="robot_description" command="$(find-pkg-share xacro)/xacro --inorder $(var model)" />
    <param name="use_gui" value="$(var gui)" />

  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="state_publisher" />
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(var rvizconfig)" required="true" />

</launch>
